<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-justify navigation">
  <div class="shrink cell text-center">
    <svg class="icon icon-icon"><use xlink:href="/assets/icons/symbol-defs.svg#icon-icon"></use></svg>
  </div>
  
  <div class="shrink cell text-center">
    <a href="https://www.paypal.com/donate/?token=LpunkN5HnO1UQ3cCBoVlNx8rxpLRno8ASEelPtsOZ7QqwzO-5IswCjj9yBHw-OV6_RsNbW&country.x=GB&locale.x=GB" class="button">Make a Donation</a>
  </div>
</div>
<!-- End Navigation -->