//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary-color;
}

a {
  transition: $primary-transition;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.button h3 {
  margin-bottom: 0;
}