---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">
	  
{% include navigation.html %}

<!-- Hero -->
<div class="index__hero" style="background-image: url({{page.hero-image}})">
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10  medium-8 large-6 cell text-center" data-aos-delay="500">
      <h1 class="white">Raising awareness about the harmful impact of Female Genital Mutilation</h1>
    </div>
  </div>
</div>
<!-- End Hero -->

<div class="grid-container">
  <div class="grid-x grid-padding-y align-center">
    <div class="small-11  medium-10 large-8 cell text-center">
      <h4 class="primary-color">We are a non-profit organization using media and training others to use media to raise awareness about the harmful impact of Female Genital Mutilation in countries with high prevalence.</h4>
    </div>
  </div>
</div>
  
<!-- Video -->
<div class="index__video margin-bottom-2" style="background-image: url({{page.video-image}})">
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-11 medium-8 large-6 cell text-center" data-aos-delay="500">
      <a href="https://www.youtube.com/watch?v=HN1mulqwv5g" class="button large">All you Need to Know About FGM <svg class="icon icon-play4"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play4"></use></svg></a>
    </div>
  </div>
</div>
<!-- End Video -->

<!-- What is FGM? -->
<div class="grid-container">
  
  <div class="grid-x grid-padding-y">
    <div class="cell text-center">
      <h1>What is FGM?</h2>
    </div>
  </div>
  
  <div class="grid-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell text-center">
      <p>FGM​ ​is​ ​recognised​ ​internationally​ ​as​ ​a​ ​violation​ ​of​ ​the​ ​human​ ​rights​ ​of​ ​girls​ ​and​ ​women.​ ​It reflects​ ​deep-rooted​ ​inequality​ ​between​ ​the​ ​sexes,​ ​and​ ​constitutes​ ​an​ ​extreme​ ​form​ ​of discrimination​ ​against​ ​women.​ ​It​ ​is​ ​nearly​ ​always​ ​carried​ ​out​ ​on​ ​minors​ ​and​ ​is​ ​a​ ​violation​ ​of​ ​the rights​ ​of​ ​children.​ ​The​ ​practice​ ​also​ ​violates​ ​a​ ​person's​ ​rights​ ​to​ ​health,​ ​security​ ​and​ ​physical integrity,​ ​the​ ​right​ ​to​ ​be​ ​free​ ​from​ ​torture​ ​and​ ​cruel,​ ​inhuman​ ​or​ ​degrading​ ​treatment,​ ​and​ ​the right​ ​to​ ​life​ ​when​ ​the​ ​procedure​ ​results​ ​in​ ​death. </p>
    </div>
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-4 cell text-center">
      <h3>Type​ ​1</h3>
      <p>​Often​ ​referred​ ​to​ ​as​ ​clitoridectomy:​ ​the​ ​partial​ ​or​ ​total​ ​removal​ ​of​ ​the clitoris​ ​and​ ​in​ ​very​ ​rare​ ​cases,​ ​only​ ​the​ ​prepuce​ ​(the​ ​fold​ ​of​ ​skin​ ​surrounding​ ​the clitoris).</p>
    </div>
    
    <div class="small-12 medium-4 cell text-center">
      <h3>Type​ ​2</h3>
      <p>​Often​ ​referred​ ​to​ ​as​ ​excision:​ ​​​the​ ​partial​ ​or​ ​total​ ​removal​ ​of​ ​the​ ​clitoris and​ ​the​ ​labia​ ​minora,​ ​with​ ​or​ ​without​ ​excision​ ​of​ ​the​ ​labia​ ​majora.</p>
    </div>
    
    <div class="small-12 medium-4 cell text-center">
      <h3>Type​ ​3</h3>
      <p>​Often​ ​referred​ ​to​ ​as​ ​infibulation:​ ​the​ ​narrowing​ ​of​ ​the​ ​vaginal​ ​opening through​ ​the​ ​creation​ ​of​ ​a​ ​covering​ ​seal.​ ​The​ ​seal​ ​is​ ​formed​ ​by​ ​cutting​ ​and repositioning​ ​the​ ​labia​ ​minora,​ ​or​ ​labia​ ​majora,​ ​sometimes​ ​through​ ​stitching.</p>
    </div>      
  </div>
    
</div>
<!-- End What is FGM? -->

<!-- Risk Image -->
<div class="index__video margin-bottom-2" style="background-image: url({{page.risk-image}})">
</div>
<!-- End Risk Image -->

<!-- Who's at Risk? -->
<div class="grid-container">
  
  <div class="grid-x grid-padding-y">
    <div class="cell text-center">
      <h1>Who​ ​is​ ​at​ ​risk?</h2>
    </div>
  </div>
  
  <div class="grid-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell text-center">
      <p>Procedures​ ​are​ ​mostly​ ​carried​ ​out​ ​on​ ​young​ ​girls​ ​sometime​ ​between​ ​infancy​ ​and​ ​adolescence, and​ ​occasionally​ ​on​ ​adult​ ​women.​ ​More​ ​than​ ​3​ ​million​ ​girls​ ​are​ ​estimated​ ​to​ ​be​ ​at​ ​risk​ ​for​ ​FGM annually.​ ​More​ ​than​ ​200​ ​million​ ​girls​ ​and​ ​women​ ​alive​ ​today​ ​have​ ​been​ ​cut​ ​in​ ​30​ ​countries​ ​in Africa,​ ​the​ ​Middle​ ​East​ ​and​ ​Asia​ ​where​ ​FGM​ ​is​ ​concentrated.​ ​The​ ​practice​ ​is​ ​most​ ​common​ ​in​ ​the western,​ ​eastern,​ ​and​ ​north-eastern​ ​regions​ ​of​ ​Africa,​ ​in​ ​some​ ​countries​ ​the​ ​Middle​ ​East​ ​and Asia,​ ​as​ ​well​ ​as​ ​among​ ​migrants​ ​from​ ​these​ ​areas.​ ​FGM​ ​is​ ​therefore​ ​a​ ​global​ ​concern. </p>
    </div>
  </div>
  
</div>
<!-- End Who's at Risk? -->

<!-- Culture Image -->
<div class="index__video margin-bottom-2" style="background-image: url({{page.culture-image}})">
</div>
<!-- End Culture Image -->


<!-- Culture -->
<div class="grid-container">
  
  <div class="grid-x grid-padding-y">
    <div class="cell text-center">
      <h1>Cultural​ ​and​ ​social​ ​factors​ ​for​ ​performing​ ​Female​ ​Genital​ ​Mutilation</h2>
    </div>
  </div>
  
  <div class="grid-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell text-center">
      <p>The​ ​reasons​ ​why​ ​female​ ​genital​ ​mutilations​ ​are​ ​performed​ ​vary​ ​from​ ​one​ ​region​ ​to​ ​another​ ​as well​ ​as​ ​over​ ​time,​ ​and​ ​include​ ​a​ ​mix​ ​of​ ​socio​ ​cultural​ ​factors​ ​within​ ​families​ ​and​ ​communities.​ ​The most​ ​commonly​ ​cited​ ​reasons​ ​are: </p>
    </div>
  </div>

</div>

<div class="grid-container">
<div class="grid-x grid-padding-y align-center">
<div class="small-11 medium-11 cell">

<div class="grid-x grid-padding-x grid-padding-y">
  
    <div class="small-12 medium-4 cell text-center">
     <h3>Social</h3>
      <p>​Where​ ​FGM​ ​is​ ​a​ ​social​ ​convention​ ​(social​ ​norm),​ ​the​ ​social​ ​pressure​ ​to​ ​conform​ ​to​ ​what others​ ​do​ ​and​ ​have​ ​been​ ​doing,​ ​as​ ​well​ ​as​ ​the​ ​need​ ​to​ ​be​ ​accepted​ ​socially​ ​and​ ​the​ ​fear of​ ​being​ ​rejected​ ​by​ ​the​ ​community,​ ​are​ ​strong​ ​motivations​ ​to​ ​perpetuate​ ​the​ ​practice. In​ ​some​ ​communities,​ ​FGM​ ​is​ ​almost​ ​universally​ ​performed​ ​and​ ​unquestioned.</p>
    </div>
    
    <div class="small-12 medium-4 cell text-center">
      <h3>Cultural</h3>
      <p>​FGM​ ​is​ ​associated​ ​with​ ​cultural​ ​ideals​ ​of​ ​femininity​ ​and​ ​modesty,​ ​which​ ​include​ ​the notion​ ​that​ ​girls​ ​are​ ​clean​ ​and​ ​beautiful​ ​after​ ​removal​ ​of​ ​body​ ​parts​ ​that​ ​are​ ​considered unclean,​ ​unfeminine​ ​or​ ​male and is often motivated by beliefs about what is acceptable sexual behaviour aiming to ensure premarital virginity and marital fidelity.</p>
    </div>
    
    <div class="small-12 medium-4 cell text-center">
    <h3>Religious</h3>
      <p>​Many believe FGM is a religious obligation.  Practised in Christian, Islamic communities and among the Bohra in India there are many who believe that FGM is required by their religion when in fact there are no religious scripts demanding adherence to the practise.</p>
    </div>  
        
</div>

</div>
</div>
</div>
<!-- End Culture  -->

<!-- Change Image -->
<div class="index__video margin-bottom-2" style="background-image: url({{page.change-image}})">
</div>
<!-- End Change Image -->

<!-- Change -->
<div class="grid-container">
  
  <div class="grid-x grid-padding-y">
    <div class="cell text-center">
      <h1>The​ ​change​ ​we​ ​seek​ ​to​ ​achieve</h2>
    </div>
  </div>
  
  <div class="grid-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell text-center">
      <p>As​ ​a​ ​sector,​ ​we​ ​are​ ​firmly​ ​committed​ ​to​ ​the​ ​​ending​ ​of​ ​FGM​ ​within​ ​a​ ​generation​ ​​and​ ​we’re​ ​working collaboratively​ ​to​ ​unify​ ​efforts​ ​and​ ​bring​ ​about​ ​change​ ​strategically.​ ​As​ ​an​ ​organisation,​ ​the​ ​GMC​ ​is dedicated​ ​to​ ​delivering​ ​our​ ​unique​ ​part​ ​of​ ​the​ ​complex​ ​process.​ ​As​ ​such,​ ​we​ ​will​ ​focus​ ​our​ ​work​ ​in over​ ​the​ ​next​ ​three​ ​years​ ​to​ ​achieve​ ​the​ ​outcomes​ ​below: </p>
    </div>
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y">
    
    <div class="small-12 medium-4 cell text-center">
      <h3>Knowledge</h3>
      <p>​Improved knowledge and attitudes among broadcasters to promote social and behaviour change around FGM</p>
    </div>
    
    <div class="small-12 medium-4 cell text-center">
      <h3>Capacity</h3>
      <p>Improved capacity among broadcasters to utilise media to promote social and behaviour change around FGM</p>
    </div>
    
    <div class="small-12 medium-4 cell text-center">
      <h3>Reach</h3>
      <p>​Increased reach of target community through media products that encourage dialogue around the issue of FGM.</p>
    </div> 
    
  <div class="grid-x grid-padding-y align-center">
    <div class="small-11 medium-10 cell text-center">
    <p>To do that we run five day Media​ ​Training​ ​Academies​ ​​(MTA)​ ​delivering ​intensive​ ​courses​ ​for​ ​35 broadcasters, religious leaders and campaigners​ ​with​ ​a community-level​ ​audience.​ The​ ​MTA​ ​teaches all​ ​they​ ​need​ ​to​ ​know​ ​​to​ ​effectively​ ​use​ ​media​ ​to​ ​open​ ​up​ ​conversations on​ ​FGM​ ​in​ ​their​ ​communities​ ​and​ ​also​ ​serve​ ​as​ ​a​ ​platform​ ​for​ ​journalists​ ​and​ ​activists​ ​to​ ​network with​ ​peers​ ​from​ ​other​ ​communities;​ ​laying​ ​foundations​ ​for​ ​increased​ ​confidence,​ ​collaboration​ ​and work​ ​opportunities​ ​in​ ​the​ ​future.​ ​​​The​ ​training​ ​is​ ​designed​ ​and​ ​delivered​ ​by​ ​experts​ ​in​ ​country​ ​with oversight​ ​from​ ​GMC’s​ ​experienced​ ​media​ ​team. So far we have delivered in Kenya, the Gambia, Nigeria, Sierra Leone, Senegal and Puntland, with plans for major religious leaders' media training in place for Somalia and Mali before the end of 2018</p>   
    </div>
  </div>
  
    
  </div>
  
</div>
<!-- End Change -->
      
<!-- Socials -->      
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="shrink cell">
    <ul class="menu">
      <li><a href="https://www.facebook.com/gmcendfgm/" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="https://twitter.com/GMCEndFGM" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
    </ul>
  </div>
</div>
<!-- End Socials -->  

<!-- Donation -->
<div class="grid-x grid-padding-y">
  <div class="cell text-center">
    <a href="https://www.paypal.com/donate/?token=LpunkN5HnO1UQ3cCBoVlNx8rxpLRno8ASEelPtsOZ7QqwzO-5IswCjj9yBHw-OV6_RsNbW&country.x=GB&locale.x=GB" class="button large">Make a Donation</a>
    <h3 class="margin-top-1">#FGMNotMyReligion</h3>
  </div>
</div>
<!-- End Donation -->
      

      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell text-center">
         <small>GMC Charity to End FGM is a Charity Registered by The Charity Commission for England and Wales. Reg No. 1176359</small>
        </div>
      </div>
      
      </div>
      
    </div>
  </div>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->
</body>

</html>