<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
	  
<section class="holding flex-container"> 
  <div class="row flex-child-auto">
    <div class="columns align-self-middle">
      
      
      <div class="row holding__title">
        <div class="columns text-center">
          <h2>Global Media Campign to End FGM</h2>
        </div>
      </div>
      
      
      <div class="row align-center holding__form">
        <div class="small-11 medium-6 large-5 columns text-center">
          <p>Tickets on sale March</p>
          <form action="//bristolcomedygarden.us8.list-manage.com/subscribe/post?u=4f6c24b1fd6a641ead690d017&amp;id=da73c043ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div class="input-group">
              <input class="input-group-field" type="email" name="EMAIL" class="" id="mce-EMAIL" placeholder="signup@email.com">
              <div class="input-group-button"><input type="submit" class="button" value="Submit"></div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="row align-center holding__socials">
        <div class="shrink columns">
          <ul class="menu">
            <li><a href="https://www.facebook.com/bristolcomedygarden" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
            <li><a href="https://www.instagram.com/bristolcomedygarden" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
            <li><a href="https://twitter.com/comedygarden" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
          </ul>
        </div>
      </div>
      
      
      <div class="row align-center holding__legal">
        <div class="columns text-center">
         <small>© 2017 57 Festivals Ltd – Subject to license.</small>
        </div>
      </div>
      
      
      
    </div>
  </div>
</section>

</body>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

</html>